<!DOCTYPE html>
<html id="elementToShowWithJavaScript" lang="en">
  <%- include('src/pages/widgets/head') -%>
  <body class="option" dir="auto">
  <%- include('src/pages/widgets/links', {config: config}) -%>
    <div id="pages">
      <%- include('src/pages/options/widgets/general', {config: config}) -%>
      <%- include('src/pages/options/widgets/services', {config: config}) -%>
      <%- include('src/pages/options/widgets/about') -%>
    </div>
  </body>
  <script type="module" src="./index.js"></script>
</html>
