include ../widgets/icons.pug

mixin links(service)
    section.links
        .title
            +general
            a(href="../general/general.html" data-localise="__MSG_general__" class=service == "general" ? "selected" : "") General

        .title 
            img(src="../../../assets/images/youtube-icon.png")
            a(href="../youtube/youtube.html" data-localise="__MSG_youtube__" class=service == "youtube" ? "selected" : "") YouTube 

        .title 
            img(src="../../../assets/images/youtube-music-icon.png")
            a(href="../youtubeMusic/youtubeMusic.html" data-localise="__MSG_ytmusic__" class=service == "youtubeMusic" ? "selected" : "") YT Music

        .title 
            img(src="../../../assets/images/twitter-icon.png")
            a(href="../twitter/twitter.html" class=service == "twitter" ? "selected" : "" data-localise="__MSG_twitter__") Twitter

        .title 
            img(src="../../../assets/images/instagram-icon.png")
            a(href="../instagram/instagram.html" data-localise="__MSG_instagram__" class=service == "instagram" ? "selected" : "") Instagram

        .title 
            img(src="../../../assets/images/tiktok-icon.png")
            a(href="../tiktok/tiktok.html" data-localise="__MSG_tiktok__" class=service == "tiktok" ? "selected" : "") TikTok

        .title 
            img(src="../../../assets/images/reddit-icon.png")
            a(href="../reddit/reddit.html" data-localise="__MSG_reddit__" class=service == "reddit" ? "selected" : "") Reddit

        .title 
            img(src="../../../assets/images/imgur-icon.png")
            a(href="../imgur/imgur.html" data-localise="__MSG_imgur__" class=service == "imgur" ? "selected" : "") Imgur

        .title 
            img(src="../../../assets/images/wikipedia-icon.svg")
            a(href="../wikipedia/wikipedia.html" data-localise="__MSG_wikipedia__" class=service == "wikipedia" ? "selected" : "") Wikipedia

        .title 
            +medium
            a(href="../medium/medium.html" data-localise="__MSG_medium__" class=service == "medium" ? "selected" : "") Medium

        .title 
            img(src="../../../assets/images/peertube-icon.svg")
            a(href="../peertube/peertube.html" data-localise="__MSG_peertube__" class=service == "peertube" ? "selected" : "") PeerTube

        .title 
            img(src="../../../assets/images/lbry-icon.png")
            a(href="../lbry/lbry.html" data-localise="__MSG_lbry__" class=service == "lbry" ? "selected" : "") LBRY/Odysee

        .title 
            +search
            a(href="../search/search.html" data-localise="__MSG_search__" class=service == "search" ? "selected" : "") Search

        .title 
            +translate
            a(href="../translate/translate.html" data-localise="__MSG_translate__" class=service == "translate" ? "selected" : "") Translate

        .title 
            +maps
            a(href="../maps/maps.html" data-localise="__MSG_maps__" class=service == "maps" ? "selected" : "") Maps

        .title 
            +send
            a(href="../sendTargets/sendTargets.html" data-localise="__MSG_sendFiles__" class=service == "sendTargets" ? "selected" : "") Send Files