section(class="links" id="links")
    div(class="title")
        a(href="#general") 
            include /src/assets/images/general-icon.svg
            span(data-localise="__MSG_general__") General

    each val, key in services
        div(class="title" id=`${key}-link`)
            a(href="#"+key)
                if services[key].imageType == 'svgMono'
                    img(class='dark' src=`/assets/images/${key}-icon.svg`)
                    img(class='light' src=`/assets/images/${key}-icon-light.svg`)
                else
                    img(src=`/assets/images/${key}-icon.${services[key].imageType}`)
                span=services[key].name

    div(class="title")
        a(target="_blank" href="https://libredirect.github.io")
            img(class='dark' src="/assets/images/about-icon.svg")
            img(class='light' src="/assets/images/about-icon-light.svg")

            span(data-localise="__MSG_about__") About
