each val, service in services    
    div(class=service + " some-block")
        a(class="title" href=services[service].url)
            if services[service].imageType == 'svgMono'
                img(src=`../../assets/images/${service}-icon.svg`)
            else
                img(src=`../../assets/images/${service}-icon.${services[service].imageType}`)
            h4(data-localise="__MSG_"+service+"__")=services[service].name
        input(class=service + "-enabled" type="checkbox")